MySql tutorial

In [10]:
#
from sqlalchemy import (
    create_engine,
    text,
)
from llama_index.core import SQLDatabase, Settings
from llama_index.llms.openai import OpenAI
import os
from dotenv import load_dotenv

load_dotenv()

True

In [11]:
db_user_name = "root"
db_password = os.getenv("SQL_DB_KEY")
db_host = "localhost:3306"
db_name = "demo_db"

connection_url = f"mysql+pymysql://{db_user_name}:{db_password}@{db_host}/{db_name}"

engine = create_engine(connection_url)

In [12]:
with engine.connect() as connection:
    result = connection.execute(text("SELECT * from walmart limit 3"))
    for three_results in result:
        print(three_results)

with engine.connect() as connection:
    result = connection.execute(text("describe walmart"))
    for description in result:
        print(description)

(1, datetime.date(2005, 2, 10), 1643690.0, 0, 42.31, 2.572, 211.096, 8.106)
(1, datetime.date(2012, 2, 10), 1641960.0, 1, 38.51, 2.548, 211.242, 8.106)
(1, datetime.date(2019, 2, 10), 1611970.0, 0, 39.93, 2.514, 211.289, 8.106)
('Store', 'int', 'NO', '', None, '')
('Date', 'date', 'NO', '', None, '')
('Weekly_Sales', 'float', 'YES', '', None, '')
('Holiday_Flag', 'tinyint', 'YES', '', None, '')
('Temperature', 'float', 'YES', '', None, '')
('Fuel_Price', 'float', 'YES', '', None, '')
('CPI', 'float', 'YES', '', None, '')
('Unemployment', 'float', 'YES', '', None, '')

In [17]:
llm = OpenAI(
    temperature=0.1,
    model="gpt-4o-mini",
    max_tokens=350,
    api_key=os.getenv("OPENAI_API_KEY"),
)

In [14]:
sql_database = SQLDatabase(engine=engine, include_tables=["walmart"])

In [19]:
from llama_index.core.query_engine import NLSQLTableQueryEngine

query_engine = NLSQLTableQueryEngine(
    llm=llm,
    sql_database=sql_database,
    tables=["walmart"],
)

query_str = "show me the weekly sales and temperature that happened during this date 2007-10-11 from lowest price to highest"

response = query_engine.query(query_str)

print(response)

On October 11, 2007, the weekly sales and temperatures recorded, sorted from the lowest price to the highest, are as follows:

1. Weekly Sales: $525,866.0, Temperature: 40.65°F
2. Weekly Sales: $954,069.0, Temperature: 60.42°F
3. Weekly Sales: $206,723.0, Temperature: 60.62°F
4. Weekly Sales: $312,577.0, Temperature: 60.62°F
5. Weekly Sales: $1,146,450.0, Temperature: 62.62°F
6. Weekly Sales: $1,478,740.0, Temperature: 74.1°F
7. Weekly Sales: $1,346,270.0, Temperature: 76.97°F
8. Weekly Sales: $2,131,980.0, Temperature: 52.42°F
9. Weekly Sales: $1,678,340.0, Temperature: 56.91°F
10. Weekly Sales: $1,407,910.0, Temperature: 53.87°F

This data reflects a range of sales figures and temperatures, highlighting the variations experienced on that date.